body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background: url(https://e1.pxfuel.com/desktop-wallpaper/861/770/desktop-wallpaper-clapperboard-movie-clapperboard.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #f0f0f0;
}

header {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #ffffff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-left: 30px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}

nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 30px;
  }
  
  .logos a {
    margin-left: 10px;
  }
  
  .logos img {
    width: 70px;
    height: 70px;
    object-fit: contain
  }

h1 {
    font-family: 'Barlow Condensed', sans-serif; 
    font-size: 5em;
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(255, 240, 103, 0.5);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}


/*FORMULARIO*/


.container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(190, 103, 3);
  }
  
  /* Estilos para el título del formulario */
  .formTitle {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(190, 103, 3);
    font-weight: bold;
  }
  
  /* Estilos para el formulario */
  form {
    display: grid;
    gap: 10px;
  }
  
  /* Estilos para las etiquetas de los campos */
  label {
    font-weight: bold;
  }
  
  /* Estilos para los campos de entrada */
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    font-size: 16px;
  }
  
  /* Estilos para el botón de enviar */
  button[type="submit"],
  button[type="reset"] {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos para el botón de reset */
  button[type="reset"] {
    background-color: #dc3545;
  }
  
  /* Estilos adicionales según tu preferencia */
  /* Por ejemplo, puedes ajustar el ancho máximo del formulario o el tamaño del texto */
  

  
footer {
    background-color: rgba(0, 0, 0, 1); 
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
